x-service-template: &service-template
  image: ghcr.io/ad-sdl/madsci:v0.5.3
  environment:
    - USER_ID=${USER_ID:-1000}
    - GROUP_ID=${GROUP_ID:-1000}
  env_file: ../.env
  network_mode: host
  volumes:
    - ../managers:/home/madsci/managers
    - ${LOCAL_WORKSPACE_FOLDER:-../}.madsci:/home/madsci/.madsci/
  restart: unless-stopped

services:
  # * MADSci Managers

  rapid446_event_manager:
    <<: *service-template
    container_name: rapid446_event_manager
    command: python -m madsci.event_manager.event_server
    depends_on:
      - rapid446_mongodb

  rapid446_workcell_manager:
    <<: *service-template
    container_name: rapid446_workcell_manager
    command: python -m madsci.workcell_manager.workcell_server
    depends_on:
      - rapid446_redis
      - rapid446_event_manager
      - rapid446_data_manager
      - rapid446_resource_manager
      - rapid446_location_manager

  rapid446_lab_manager:
    <<: *service-template
    container_name: rapid446_lab_manager
    image: ghcr.io/ad-sdl/madsci_dashboard:latest
    command: python -m madsci.squid.lab_server
    depends_on:
      - rapid446_redis
      - rapid446_event_manager
      - rapid446_data_manager

  rapid446_resource_manager:
    <<: *service-template
    container_name: rapid446_resource_manager
    command: python -m madsci.resource_manager.resource_server
    depends_on:
      - rapid446_postgres
      - rapid446_event_manager

  rapid446_experiment_manager:
    <<: *service-template
    container_name: rapid446_experiment_manager
    command: python -m madsci.experiment_manager.experiment_server
    depends_on:
      - rapid446_mongodb
      - rapid446_event_manager

  rapid446_data_manager:
    <<: *service-template
    container_name: rapid446_data_manager
    command: python -m madsci.data_manager.data_server
    depends_on:
      - rapid446_mongodb
      - rapid446_event_manager

  rapid446_location_manager:
    <<: *service-template
    container_name: rapid446_location_manager
    command: python -m madsci.location_manager.location_server
    depends_on:
      - rapid446_redis
      - rapid446_event_manager
      - rapid446_resource_manager
